{% extends 'base.html.twig' %}

{% block background %}
{% endblock %}

{% block title %}
    {{ parent() }} | Modification Profil
{% endblock %}

{% block body %}
     <div class="form-container">
         <h2>Modifier les informations de profil</h2>
         {{ form_start(profilForm) }}
         {{ form_row(profilForm.pseudo) }}
         {{ form_row(profilForm.prenom) }}
         {{ form_row(profilForm.nom) }}
         {{ form_row(profilForm.email) }}
         {{ form_row(profilForm.telephone) }}

        <button id="btnModifProfil" name="btnModifier">Modifier</button>
        {{ form_end(profilForm) }}
    </div>
{% endblock %}

